body{
    padding: 0;
    margin: 0;
    background-color: rgb(173, 10, 248);
}


nav {
    background-color: black;
    color: white;
    height: 70px;
    text-align: center;
    font-weight: bold;
    /* padding: 10px; */
}
.a:hover {
    background-color: rgba(190, 11, 226, 0.884);
    color: rgb(0, 0, 0);
}
.a {
    color: white;
    float: right;
    font-weight: bold;
    margin: 20px 10px;
    /* width: 150px;
    height: 30px; */
    display: flex;
}
.pp{
    margin-right: 450px;
}
.h2 {
    color: white;
    float: left;
    font-weight: bold;
    margin: 20px 20px ;
    background: rgba(190, 11, 226, 0.884);
    width: 150px;
    height: 30px;
}

.h2:hover {
        background-color: rgba(79, 14, 122, 0.829);
        color: black;
}

.section{
    height: 100px;
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToUpQBsFRhAUl2eykSgceqTp2E-HYCxUR5Cw&usqp=CAU);
    background-size: cover;
    text-align: center;
    font-size: 50px;
}
.ul {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 5px;
    text-align: justify;
    font-size: 15px;
    font-weight: bold;

}
.ppp{
    text-align: left;
    font-size: 30px;
    margin-left: 15px;
    color: white;

}
.img{
    width: 600px;
    height: 300px;
    margin-left: 10px;
}
.button {
    font-weight: bold;
    margin: 0% 45%;
}
.add{
    background-color: rgba(79, 14, 122, 0.829);
    height: 40px;
    width: 100px;
}
.footer {
    height: 190px;
    background-color: rgb(99, 8, 102);
}
.aa {
    color: white;
}
.aaap:hover {
    background-color: rgb(40, 3, 75);
    color: rgb(0, 0, 0);
    height: 30px;
    width: 110px;
}

.aaap{
    color: white;
    padding: 7px 0px 0px 7px
}


.footeraaa{
    padding: 7px 0px 8px 20px;
}
.footeraaaa{
    padding: 7px 0px 8px 20px;
}
.footeraaaaa{
    padding: 7px 0px 8px 20px;
}
.footeraaaaaa{
    padding: 7px 0px 8px 20px;
}



.footeraaa:hover{
    background-color: rgb(40, 3, 75);
    color: rgb(0, 0, 0);
    height: 15px;
    width: 80px;
}
.footeraaaa:hover{
    background-color: rgb(40, 3, 75);
    color: rgb(0, 0, 0);
    height: 15px;
    width: 80px;
}
.footeraaaaa:hover{
    background-color: rgb(40, 3, 75);
    color: rgb(0, 0, 0);
    height: 15px;
    width: 80px;
}
.footeraaaaaa:hover{
    background-color: rgb(40, 3, 75);
    height: 15px;
    width: 80px;
}